
cxf_and_axis2/.project

*.prefs

cxf_and_axis2/1_SimpleService/.classpath

cxf_and_axis2/1_SimpleService/.project

cxf_and_axis2/10_BizClient/.classpath

cxf_and_axis2/10_BizClient/.project

cxf_and_axis2/11_ImageService/.classpath

cxf_and_axis2/11_ImageService/.project

cxf_and_axis2/12_ImageClient/.classpath

cxf_and_axis2/12_ImageClient/.project

cxf_and_axis2/13_Axis2ImageService/.classpath

cxf_and_axis2/13_Axis2ImageService/.project

cxf_and_axis2/14_Axis2ImageClient/.classpath

cxf_and_axis2/14_Axis2ImageClient/.project

cxf_and_axis2/15_StatService/.classpath

cxf_and_axis2/15_StatService/.project

cxf_and_axis2/16_StatClient/.classpath

cxf_and_axis2/17_StatProducer/.classpath

cxf_and_axis2/16_StatClient/.project

cxf_and_axis2/17_StatProducer/.project

cxf_and_axis2/18_StatConsumer/.classpath

cxf_and_axis2/18_StatConsumer/.project

cxf_and_axis2/19_BookService/.classpath

cxf_and_axis2/19_BookService/.project

cxf_and_axis2/2_SimpleClient/.classpath

cxf_and_axis2/2_SimpleClient/.project

cxf_and_axis2/20_BookClient/.classpath

cxf_and_axis2/20_BookClient/.project

cxf_and_axis2/3_Axis2SimpleService/.classpath

cxf_and_axis2/3_Axis2SimpleService/.project

cxf_and_axis2/4_Axis2SimpleClient/.classpath

cxf_and_axis2/4_Axis2SimpleClient/.project

cxf_and_axis2/5_WrappedService/.classpath

cxf_and_axis2/5_WrappedService/.project

cxf_and_axis2/6_WrappedClient/.classpath

cxf_and_axis2/6_WrappedClient/.project

cxf_and_axis2/7_Axis2WrappedService/.classpath

cxf_and_axis2/7_Axis2WrappedService/.project

cxf_and_axis2/8_Axis2WrappedClient/.classpath

cxf_and_axis2/8_Axis2WrappedClient/.project

cxf_and_axis2/9_BizService/.classpath

cxf_and_axis2/9_BizService/.project

cxf-skeleton/.classpath

cxf-skeleton/.project

cxf-skeleton/.settings/.jsdtscope

*.component

cxf-skeleton/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml

cxf-skeleton/.settings/org.eclipse.wst.common.project.facet.core.xml

*.container

*.name

JAX-RS/.project

JAX-RS/chapter03/.classpath

JAX-RS/chapter03/.project

JAX-RS/chapter03/.settings/.jsdtscope

JAX-RS/chapter03/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml

JAX-RS/chapter03/.settings/org.eclipse.wst.common.project.facet.core.xml

JAXB/.project

JAXB/HelloWorld/.project

JAXB/JAXB-Examples/.classpath

JAXB/JAXB-Examples/.project

spring3-integrate-with-jersey1/.classpath

spring3-integrate-with-jersey1/.project

spring3-integrate-with-jersey1/.settings/.jsdtscope

spring3-integrate-with-jersey1/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml

spring3-integrate-with-jersey1/.settings/org.eclipse.wst.common.project.facet.core.xml

spring3-integrate-with-jersey2/.classpath

spring3-integrate-with-jersey2/.project

JAXB/HelloWorld/.classpath
